<div class="container">
    <div class="row center">
        <div class=" black-text left-align col s12">
            <h4><br>Flyer Ausbildungsmesse</h4>
            <div class="row">
                <p class="header left-align col s12 light"><b>Auftragsarbeit <br>Einzelarbeit</b><br><br>Dieser Flyer ist im Rahmen meiner Ausbildung für eine Ausbildungsmesse entstanden. Das Format ist DIN Lang als 4-seiter. 

                <br><br>Gestaltet ist der Flyer nach Firmen Corporate Identity (Typo, Farbwahl, Logo, Anordnung). Die Auswahl der Bilder und Texte erfolgte Zeilgruppengerichtet.<br>
            Ziel des Flyers war es, eigene Ausbildungsberufe der Firma bekannt zu machen und zu bewerben.
                    <br><br>
                    <div class="col s6 m12 l12">
                        <div class="card z-depth-2">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="images/images_project/Azubi_Flyer.jpg">
                                <img class="activator" src="images/images_project/Azubi_3.jpg">
                                <img class="activator" src="images/images_project/Azubi_2.jpg">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

