<div class="container">
    <div class="row center">
        <div class=" black-text left-align col s12">
            <h4><br>Werbemitel "KiKoFe" Kinderkostümfest</h4>
            <div class="row">
                <p class="header left-align col s12 light"><b>Auftragsarbeit<br>Einzelarbeit</b><br><br>
                Seit 2010 gestalte ich Ehrenamtlich, und seit 2014 als Leitende des Werbeausschusses sämtliche Werbemittel für den Verein "Darmstädter TSG 1846 e.V. Abteilung Karneval".<br>
                Unter anderem auch für das jährliche Kinderkostümfest "KiKoFe"<br><br>

                Hier habe ich das Logo passend zum Vereinslogo mit einem Illustrierten Löwen erstellt.
                <br><br>
                Die jährlich zu gestaltenden Werbemittel sind: Plakate, Flyer, Eintrittskarten und Gutscheine sowie besondere Dinge, wie Ausmalbilder oder Wegweiser für die Veranstaltung.<br><br>

                Hier ein Auszug von Werbemitteln aus dem letzten Jahr.<br>
                </p>
                <div class="col s6 m12 l12">
                    <div class="card z-depth-2">
                        <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/images_project/kikofe.jpg">
                <img class="activator" src="images/images_project/kikofe_logo.jpg">
                <img class="activator" src="images/images_project/kikofe2.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>