<div class="container">
    <div class="row center">
        <div class=" black-text left-align col s12">
            <h4><br>Präsentationsabend Semesterabschluss "Designer 2016"</h4>
            <div class="row">
                <p class="header left-align col s12 light"><b>Auftragsarbeit<br>Gruppenarbeit</b><br><br>Für den Abschlussabend des 4. Semesters der Fachschule, "Designer 2016" wurden in Gruppenarbeit (7 Personen) Einladungen, Plakate und eine Website für diesen Abend erstellt.
 <br> <br>
                Fotografien, Texte und Design wurden selbst erstellt. Die Website wurde durch einen Studierenden programmiert.
 <br> <br>
                Die Plakate wurden in Eigenarbeit auf einer Offsetmaschine in der Gutenbergschule gedruckt und weiterverarbeitet.
 <br> <br>
                Im Rahmen eines kurzen Projektes "Audio und Video" wurde noch ein passender Clip zu den gestalteten Plakaten erstellt.
                <br>
                Verwendete Programme: Adobe After Effects und Adobe Lightroom
 <br> <br>
                Die fertige Website und der Clip können unter folgenden Links aufgerufen werden:

                    <br>
                    <li><a class="black-text" href="http://designer-2016.de/">www.designer-2016.de</a></li>
                <li><a class="black-text" href="https://www.youtube.com/watch?v=hykZ6mvMN5I">Das Leben eines Plaktes auf Youtube</a></li>
                 <br>
                </p>
                <div class="col s6 m12 l12">
                    <div class="card z-depth-2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/images_project/Designer1.jpg">
                            <img class="activator" src="images/images_project/Designer2.jpg">
                            <img class="activator" src="images/images_project/Designer3.jpg">
                            <img class="activator" src="images/images_project/Designer4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
