<div class="container">
    <div class="row center">
        <div class=" black-text left-align col s12">
            <h4><br>Corporate Design "Event- und Deko Service BOG"</h4>
            <div class="row">
                <p class="header left-align col s12 light"><b>Auftragsarbeit <br>Gruppenarbeit</b><br><br> <b>Dies ist das Abschlussprojekt meines Fachschulstudiums, das in einer Gruppe von drei Personen umgesetzt wurde.</b><br><br>
                Der Projektpartner wurde von uns selbst gesucht und ausgewählt.
                Im Rahmen des Projektes erstellten wir für das Unternehmen "Event- und Deko Service BOG" ein neues Logo, einen ausergewöhnlichen 3D Werbeflyer, Aufkleber im Siebdruckverfahren und gestaslteten eine komplett neue Website.
                Die erstellten Produkte wurden im Rahmen der Abschlusspräsentation vor einen ca. 200-köpfigen Fachpublikum vorgetragen.
<br><br>
                Alle Texte wurden selbst geschrieben, alle Fotografien selbst angefertigt.
                Der Flyer wurde in Eigenarbeit in der Gutenbergschule gedruckt und per Hand von uns weiterverarbeitet (geschnitten, gerillt, gefalzt und geklebt). Die Auflage betrug 500 Exemplare. 
<br><br>
                Das bestehende Logo wurde unter Einhaltung einiger Vorgaben abgeändert und angepasst.
<br><br>
                Das Screendesign der Website wurde entwickelt und alle dort zu sehenden Elemente selbst angefertigt. Lediglich die Programmierung der Website fand durch externe statt.<br><br>

                Alle erstellten Produkte werden verwendet, die Website kann unter folgendem Link erreicht werden:<br>
                <li><a class="black-text" href="http://dekoservice-darmstadt.de/#/">www.dekoservice-darmstadt.de</a></li></p>
                <div class="col s6 m12 l12">
                    <div class="card z-depth-2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/images_project/BOG2.jpg">
                            <img class="activator" src="images/images_project/bogmac2.jpg">
                            <img class="activator" src="images/images_project/iphonemockup.png">
                            <img class="activator" src="images/images_project/Bog3.jpg">
                            <img class="activator" src="images/images_project/Flyer fertig.png">
                            <img class="activator" src="images/images_project/Flyer Raum.png">
                            <img class="activator" src="images/images_project/Flyer vorne.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
