<div class="container">
    <div class="row center">
        <div class=" black-text left-align col s12">
            <h4><br>Produktdesign</h4>
            <div class="row">
                <p class="header left-align col s12 light"><b>Freie Arbeit im Rahmen eines Semesterprojektes<br>Einzelarbeit</b><br><br> Entwickelt wurde ein Produktdesign für eine Vorgegebene Marke und ein Vorgegebenes Produkt: <b>"Jam Session Nuss-Nougat Creme" </b> in verschiedenen Geschmachsrichtungen. <br><br>
                Farbwahl, Logo, Gestaltung, Glaswahl und Form waren freigestellt. Eine Blockwirkung sollte gewährleistet sein.
                    <br>
                    <div class="col s6 m12 l12">
                        <div class="card z-depth-2">
                            <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/images_project/jam3.png">
                                <img class="activator" src="images/images_project/DSC_0015.jpg">
                                <img class="activator" src="images/images_project/DSC_0017.jpg">
                                <img class="activator" src="images/images_project/DSC_0027.jpg">
                                <img class="activator" src="images/images_project/jam2.jpg">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

