<div class="container">
    <div class="row center">
        <div class=" black-text left-align col s12">
            <h4><br>Werbemittel "Darmstädter TSG 1846.e.V."</h4>
            <div class="row">
                <p class="header left-align col s12 light"><b>Auftragsarbeit<br>Einzelarbeit</b>
                    <br>
                    <br> Seit 2010 gestalte ich Ehrenamtlich, und seit 2014 als leitende des Werbeausschusses sämtliche Werbemittel für den Verein "Darmstädter TSG 1846 e.V. Abteilung Karneval".
                    <br>
                    <br> DieWerbemittel sind: Plakate, Flyer, Eintrittskarten, Bewegtbildwerbung und ein Liederheft (Anzeigenbeilage).
                    <br> Diese Werbemittel richten sich jedes Jahr nach dem Kampagnenmotto des Vereins, in dem ich bis 2016 auch aktiv Mitglied der Garde war.
                    <br>
                    <br> Flyer, Plakate und Eintrittskarten werden jeweils für drei bis vier verschiedene Veranstaltungen erstellt.
                    <br>Das ca. 52-seitige Liederheft erscheint einmal im Jahr.
                    <br>
                    <br> Hier nur ein kleiner Auszug von Werbemitteln aus den letzten Jahren.
                    <br>
                </p>
                <div class="col s6 m12 l12">
                    <div class="card z-depth-2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/images_project/Liederheft TSG.jpg">
                            <img class="activator" src="images/images_project/tsg2.jpg">
                            <img class="activator" src="images/images_project/Flyer TSG.jpg">
                            <img class="activator" src="images/images_project/Liederheft TSG2.jpg">
                            <img class="activator" src="images/images_project/Liederheft tsg3.jpg">
                            <img class="activator" src="images/images_project/flyertsg4.jpg">
                            <img class="activator" src="images/images_project/tsg3.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
