<div class="container">
    <div class="row">
        <div class=" black-text left-align col s12">
        <div class="row">
            <h3>IMPRESSUM</h3>
                <b>
                Verantwortlich für die Inhalte
            </b>
                <br> Frau Laura Füchtenkordt
                <br> Marchlewskistr. 93
                <br> 10243 Berlin
                <p>
                    <b>
                Kontakt
            </b>
                    <br> mail@fuechtenkordt.com
                    <br> www.fuechtenkordt.com
                </p>
                <p>
                    <b>
                Haftungsausschluss
            </b>
                    <br> Angaben gemäß § 5 TMG:
                </p>
                <p>
                    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
                </p>
                <p>
                    Gemäß § 28 BDSG widersprechen wir jeder kommerziellen Verwendung und Weitergabe unserer Daten.
                </p>
                <p>
                    <b>
                Verantwortungsbereich
            </b> Das Impressum gilt nur für die Internetpräsenz unter der Adresse: www.fuechtenkordt.com
                </p>
                <p>
                    <b>
                Abgrenzung
            </b> Die Web-Präsenz ist Teil des www und dementsprechend mit fremden, sich jederzeit wandeln könnenden Web-Sites verknüpft. Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keinerlei Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
                </p>
                <p>
                    <b>
                Keine Haftung
            </b> Die Inhalte dieses Webprojektes wurden sorgfältig geprüft und nach bestem Wissen erstellt. Für die hier dargebotenen Informationen wird kein Anspruch auf Vollständigkeit, Aktualität, Qualität und Richtigkeit erhoben. Es kann keine Verantwortung für Schäden übernommen werden, die durch das Vertrauen auf die Inhalte dieser Website oder deren Gebrauch entstehen.
                </p>
                <p>
                    <b>
                Gestaltung
            </b>
                    <br> Laura Füchtenkordt, mail@fuechtenkordt.com
                </p>
                <p>
                    <b>
                Programmierung
                </b>
                    <br> Laura Füchtenkordt, mail@fuechtenkordt.com
                </p>
                <div class="col s6 m12 l12">
                    <div class="card z-depth-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

