<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h2 class="header center white-text"></h2>
            <div class="row center">
                <h5 class="header col s12 light white-text"></h5>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="parallax"><img src="/images/images_back/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row left">
            <div class="col s12 m4" id="about">
                <div class="icon-block">
                    <h2 class="left-align"><i class="material-icons">edit</i></h2>
                    <h5 class="left-align ">Staatlich geprüfte <br> Designerin</h5>
                    <p class="light">Abgeschlossenes Fachschulstudium zur Staatlich geprüften Designerin, Fachrichtung Werbe- und Mediendesign im Sommer 2016 an der Gutenbergschule in Frankfurt am Main.</p>
                    <li><a class="black-text" href="http://www.gutenbergschule.eu/fachschule.html">Gutenbergschule.eu</a></li>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="left-align"><i class="material-icons">local_offer</i></h2>
                    <h5 class="left-align">Mediengestalterin <br>IHK</h5>
                    <p class="light">Abgeschlossene Ausbildung bei der IHK Darmstadt im Juni 2012 als Mediengestalterin für Digital- und Printmedien, Fachrichtung Gestaltung und Technik mit Schwerpunkt in der Printproduktion. </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="left-align"><i class="material-icons">verified_user</i></h2>
                    <h5 class="left-align">Zusätzliche <br>Qualifikationen</h5>
                    <p class="light">&#149; Ausbildereignungsschein AEVO
                        <br>&#149; Basiszertifikat Projektmanagement GPM
                        <br>&#149; Fachhochschulreife</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row center">
            <div class=" black-text left-align col s12">
                <h4>ABOUT</h4>
                <div class="row center">
                    <p class="header left-align col s12 light">Im Sommer 2012 habe ich meine Ausbildung als Mediengestalterin für Digital- und Printmedien in der Fachrichtung Gestaltung und Technik abgeschlossen. Im Anschluss arbeitete ich 2 Jahre als Assistentin der Technischen Leitung im Verlagshaus »Echo Medien«. Hier lagen die Schwerpunkte meiner Arbeit in den bereichen Druckereibüro, Sachbearbeitung, sowie der Gestaltung von Printprodukten.
                        <br>
                        <br>Mein zukünftiger Werdegang zielt in Richtung Agenturarbeit. Gerne möchte ich meine Fähigkeiten in der Gestaltung und Realisierung von Printprodukten weiterentwickeln, aber auch meine Fähigkeiten im digitalen (Frontend) ausbauen.
                        <br>Durch das Fachschulstudium, die abgeschlossene Ausbildung und 2 Jahre Berufserfahrung konnte ich mir viele verschiedene Fähigkeiten aneignen, jetzt freue ich mich auf auf neue Herausforderungen und spannende Projekte um diese anzuwenden.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container" id="portfolio">
            <br>
            <div class="row center">
                <h2 class="container center grey-text text-lighten-4"></h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/images_back/background2.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
    <div class="section">
    </div>
    <div>
        <h4>PORTFOLIO MEINER PROJEKTARBEITEN</h4>
        <div class="row center">
            <p class="header left-align col s12 light">Eine kleine Auswahl an Projekten, die in der Studienzeit, bei Freelancer-Aufträgen oder früheren Arbeitgebern entstanden sind.</p>
        </div>
    </div>
</div>
<!--Bilder Boxen -->
<div class="row">
    <div class="col s12 m4 l4 projectcard1" href="" ng-click="openProjectDialog(1)">
    </div>
    <div class="col s12 m4 l4 projectcard2" href="" ng-click="openProjectDialog(2)">
    </div>
    <div class="col s12 m4 l4 projectcard3" href="" ng-click="openProjectDialog(3)">
    </div>
    <div class="col s12 m4 l4 projectcard4" href="" ng-click="openProjectDialog(4)">
    </div>
    <div class="col s12 m4 l4 projectcard5" href="" ng-click="openProjectDialog(5)">
    </div>
    <div class="col s12 m4 l4 projectcard6" href="" ng-click="openProjectDialog(6)">
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h2 class="container center grey-text text-lighten-4"></h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/images_back/background3.jpg" alt="Unsplashed background img 3"></div>
</div>
<div class="container" id="kontakt">
    <div class="section">
    </div>
    <!-- KONTAKTDATEN -->
    <div>
        <h4>KONTAKT</h4>
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel grey darken-2 z-depth-2">
                    <span class="white-text"> <h5 class="header left-align light">Laura Füchtenkordt <br></h5>
                <h6 class="header left-align light"><br>Marchlewskistraße 93 <br>10243 Berlin <br><br>mail@fuechtenkordt.com<br>www.fuechtenkordt.com<br></h6>
                        </span>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card-panel grey darken-2 z-depth-2">
                            <span class="white-text"> <h5 class="header left-align light"></h5>
                <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d825.4280279279316!2d13.447939759279611!3d52.50978921763609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e5b49c6c14f%3A0x2f4e6f0cde40f1b1!2sMarchlewskistra%C3%9Fe+93%2C+10243+Berlin!5e0!3m2!1sde!2sde!4v1474890277876" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="project1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <project1></project1>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-grey btn-flat">Schließen</a>
        </div>
    </div>
    <div id="project2" class="modal modal-fixed-footer">
        <div class="modal-content">
            <project2></project2>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-grey btn-flat">Schließen</a>
        </div>
    </div>
    <div id="project3" class="modal modal-fixed-footer">
        <div class="modal-content">
            <project3></project3>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-grey btn-flat">Schließen</a>
        </div>
    </div>
    <div id="project4" class="modal modal-fixed-footer">
        <div class="modal-content">
            <project4></project4>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-grey btn-flat">Schließen</a>
        </div>
    </div>
    <div id="project5" class="modal modal-fixed-footer">
        <div class="modal-content">
            <project5></project5>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-grey btn-flat">Schließen</a>
        </div>
    </div>
    <div id="project6" class="modal modal-fixed-footer">
        <div class="modal-content">
            <project6></project6>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Schließen</a>
        </div>
    </div>
