<div ng-controller="footerCtrl">
    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">VIELEN DANK</h5>
                    <p class="grey-text text-lighten-4">...für Ihr Interesse! <br>Für weitere Informtionen oder bei Fragen können Sie mich gerne Kontaktieren. <br>Ich freue mich auf Ihre Angebote.</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">ÜBERSICHT</h5>
                    <ul>
                <li><a class="white-text" href="" >Home</a></li>
                <li><a href="" ng-click="gotoAnchor('about')" class="white-text">About</a></li>
                <li><a href="" ng-click="gotoAnchor('portfolio')" class="white-text">Portfolio</a></li>
                <li><a href="" ng-click="gotoAnchor('kontakt')" class="white-text">Kontakt</a></li>
                <li><a class="white-text" href="" ui-sref="impressum">Impressum</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">MEHR</h5>
                    <ul>
                        <li><a class="white-text" href="https://www.xing.com/profile/Laura_Fuechtenkordt?sc_o=mxb_p">Xing</a></li>
                        <li><a class="white-text" href="https://www.linkedin.com/profile/preview?locale=de_DE&trk=prof-0-sb-preview-primary-button">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="white-text">Laura Füchtenkordt &#169 2016</a>
            </div>
        </div>
    </footer>
</div>
