<div ng-controller="navbarCtrl">
    <div class="navbar-fixed">
        <nav class="grey darken-4" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo white-text"><img width=60px src="/images/images_project/LogoLF.png"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/#about" class="white-text">ABOUT</a></li>
                    <li><a href="" ng-click="gotoAnchor('portfolio')" class="white-text">PORTFOLIO</a></li>
                    <li><a href="" ng-click="gotoAnchor('kontakt')" class="white-text">KONTAKT</a></li>
                </ul>
            </div>
            <ul class="side-nav grey darken-4" id="mobile-menu">
                <li><a href="/#about" class="white-text">ABOUT</a></li>
                <li><a href="" ng-click="gotoAnchor('portfolio')" class="white-text">PORTFOLIO</a></li>
                <li><a href="" ng-click="gotoAnchor('kontakt')" class="white-text">KONTAKT</a></li>
            </ul>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        </nav>

    </div>
</div>
